header {
    background: linear-gradient(90deg, #00208a, #007786);
    color: white;
    text-align: center;
    padding: 1rem 0 2rem 0;
    margin-bottom: 1.4rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
}